<div class="bg-light">

  <div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="card shadow p-4" style="width: 100%; max-width: 400px;">
      <h2 class="text-center mb-4">Register</h2>
      <form>
        <div class="mb-3">
          <label for="email" class="form-label">Full Name</label>
          <input type="email" class="form-control" id="email" placeholder="Enter your email" required>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email ID</label>
          <input type="email" class="form-control" id="email" placeholder="Enter your email" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Enter your password" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">ReType Password</label>
          <input type="password" class="form-control" id="password" placeholder="Enter your password" required>
        </div>
        <div class="d-grid">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
        <div class="text-center">
            <p class="mb-0">Already have an account? 
                <a [routerLink]="'/login'" role="button" class="text-primary">Log In</a>
            </p>
            </div>
      </form>
    </div>
  </div>
  </div>